    /*** GENERAL ***/
body{
  background-image: url("../img/fondo00.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 2%;
}

h3, h4{
  font-family: 'Lobster Two', cursive;
}

h5, h6, p{
  font-family: 'Droid Sans', sans-serif;
  text-align: justify;
}
    /*** Nota ***/
.note{
  width: 300px;
  height: 300px;
  padding: 2%;
  background-color: #F8F069;
  border: solid 2px #F8F069;
  position: absolute;
  left: 28%;
  bottom: 15px;
  transform : rotate(18deg);
}
    /*** LIBRO ***/
/*Contenedor del Libro*/
#sketch{
  width: 900px;
  height: 600px;
  display: inline-block;
} 
/*Efecto auxiliar de tirón de hoja*/
#sketch .turn-page{
  width: 900px;
  height: 600px;
  background-color:#ccc;
}
/*Sombra del contendedor del Libro*/
#sketch .shadow{
  box-shadow: 0 4px 20px #666;
}
/*Fondo de la Portada*/
.portada{
  background-image: url("../img/fondoPortada.jpg");
}
/*Fondo de la Contraportada*/     
.contraPortada {
  background-image: url("../img/fondoPortada.jpg");
}
/*Fondo del reverso de la portada y contraportada*/
.reves{
  background-color: #E2D5B3;
}
/*Fondo de las páginad del libro (textura)*/
.pagina{
  background:top left url("../img/pagina.jpg");;
}
/*Redondear la hoja derecha*/
.rodondearD{
  border-radius: 8px 38px 38px 8px;
  -moz-border-radius: 8px 38px 38px 8px;
  -webkit-border-radius: 8px 38px 38px 8px;
  border: 0px solid #000000;
}
/*Redondear la hoja izquierda*/
.rodondearI{
  border-radius: 38px 8px 8px 38px;
  -moz-border-radius: 38px 8px 8px 38px;
  -webkit-border-radius: 38px 8px 8px 38px;
  border: 0px solid #000000;
}
    /*** ELEMENTOS DEL LIBRO ***/
/*Estilo del nombre*/
#name{
  color: white;
  font-weight: bold;
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
  margin: 20% 10%;
  transform : rotate(-5deg);

}
/*Sticker de la portada*/
#s00{
  background-color: white;
  margin: 15% 59%;
  padding: 2%;
  border-radius: 100%;
  transform : rotate(18deg);
}
/*Marco del avatar*/
.marco {
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  transform : rotate(-4deg); 
  border: 5px solid white; 
}
/*marco para proyectos*/
.marco2 {
  border-radius: 8px 8px 8px 8px;     
  border: 8px solid #26A69A;
} 
/*Frase*/
.frase{
  color: #26A69A;
  font-size: 1.2em;
  font-weight: bold;
}
/*Gráfica de contenedor*/
#myContainer {
  margin: 10% 20%;
  width: 150px;
  height: 150px;
}
/*Imganes de mis proyectos*/
.imgProject{
  margin-left: 10%;
}
/*Imagen de skils*/
.imgSkill{
  width: 50px;
  height: 50px;
  margin: 0 2%;
}
/*Parte de Contacto*/
.redes{
  margin: 15% 25%;
}
.redes a{
  text-decoration: none;
}
.logoQuetzul{
  width: 150px;
  height: 150px;
}
/*Dedicatoria*/
#dedicatoria{
  font-family: 'Lobster Two', cursive;
  text-align: center;
  font-style: italic;
  font-size: 2em; 
  margin-top: 55%;
}
/*Logo Laboratoria*/
#logoL{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 40% 33%;
}
.myA{
  text-decoration: none;
  color: black;
}
    /*** UTILIDADES ***/
/*Padding*/
.pd-5{
  padding: 5%;
}
.pd-6{
  padding: 6% 5%;
}
.pd-5a{
  padding: 5% 5% 0% 5%;
}
.pd-5b{
  padding: 0% 5% 5% 5%;
}
.pd-3{
  padding: 3%;
}
.pd0-5{
  padding: 0% 5%;
}
.pd-2{
  padding: 2%;
}
.pd-15-3{
  padding: 20% 5%;
}
.pd-15{
  padding: 5% 15% 5% 5%;
}
.pd-2-5{
  padding: 2% 5%;
}
/*Margin*/
.mt3{
  margin-top: 15%;
}
.m2{
  margin: 2%;
}
.m5{
  margin: 25%;
}
.m-2{
  margin-top: -45%;
}
.myCenter{
  margin-left: -50%;
}
/*Texto*/
.text-b{
  color: #eeb200;
}
.text-white{
  color: white;
}
.textM{
  font-size: 1.3rem; 
}
/*responsive*/
.text2m{
  font-size: 1.5em; 
}
