 /* Dispositivos pequeños (tablets, anchura mayor o igual a 768px) */
@media screen and (max-width: 768px) {
	#progresoIntermedio{
		font-size: 100px;
	}

	#progresoBasico{
		font-size: 100px;
	}

	.note{
	  width: 300px;
	  height: 300px;
	  padding: 2%;
	  background-color: #F8F069;
	  border: solid 2px #F8F069;
	  position: absolute;
	  left: 28%;
	  bottom: -15px;
	  transform : rotate(18deg);
	}
}
/* Dispositivos medianos (ordenadores, anchura mayor o igual a 992px) */
@media (max-width: 992px) {

}
/* Dispositivos grandes (ordenadores, anchura mayor o igual a 1200px) */
@media (max-width: 1200px) {
	/*Esta Media Querie es con la que estamos trabajando normalmente*/
}